html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

body {
    background: white;
    min-height: 100vh;
}

/*navegador*/
.navbar-brand {
    display: flex;
}

.navbar-brand h4 {
    padding-top: 1.5rem;
    color: white;
}

.navbar-collapse {
    flex-grow: 0;
    align-items: end;
}

.navbar img {
    width: 10rem;
    height: 5rem;
}

.navbar ul li a {
    color: grey;
}


.navbar ul a:hover {
    color: white;
}
.container{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*formulario*/

.row {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/*CORREO*/
.form-floating2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

#floatingCorreo {
    width: 60%;

}


/*cant Categoria*/

/*ALERTA*/

.alert {
    margin-left: 20%;
    margin-right: 20%;
}

/*BUTTONS*/

.btn {
    width: 49%;
}

.btn-success {
    
    --bs-btn-color: #fff;
    --bs-btn-bg: #70e13d;
    --bs-btn-border-color: ##70e13d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #56b629;
    --bs-btn-hover-border-color: #56b629;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #70e13d;
    --bs-btn-active-border-color: #70e13d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #70e13d;
    --bs-btn-disabled-border-color: #70e13d;
}

/*footer*/

footer {
    background-color: #1d4054;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav-link {
    color: white;
}

.nav-link a {
    padding-left: 1rem;
}